body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "left-side right-side"
    "left-side right-side";
}

left-side{
    grid-area: left-side;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

right-side{
    grid-area: right-side;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    background-color: indigo;
    border: solid 3px black;
}

tr{
    background-color: gold;

}

tr:hover{
    background-color: goldenrod;
}
