body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "left-side right-side"
    "left-side right-side";
}

left-side{
    grid-area: left-side;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

right-side{
    grid-area: right-side;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    background-color: indigo;
    border: solid 3px black;
}

tr{
    background-color: gold;

}

tr:hover{
    background-color: goldenrod;
}

.text{
    background: none;
    border: none;
    outline: none;
    border-bottom: 3px solid lightgreen;
    padding: 5px;
    margin: 15px;
    font-size: 20px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.button{

    background: none;
    border: none;
    outline: none;
    background-color: lightgreen;
    padding: 15px;
    font-size: 20px;
    width: 300px;
    border-radius: 10px;
    transition: 0.3s;
    height: 50px;

}

.buttona{

    background: none;
    border: none;
    outline: none;
    background-color: lightgreen;
    padding: 15px;
    font-size: 20px;
    width: 100px;
    border-radius: 10px;
    transition: 0.3s;


}
