body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("images/bg.jpg");
    margin:0;
    padding: 0;
    height: 100vh;
   
}

.logowanie{
    display: flex;
    flex-direction: column;
    
}

.logowanie input[type="submit"]{
    background:indigo;
    color: wheat;
    width:100%;
    padding: 10px;
    border: none;
}

.logowanie input[type="text"], .logowanie input[type="password"]{
    margin-bottom: 10px;
    padding: 5px;
}
p{
    color: wheat;
    border: solid 3px darkorchid;
    background-color: tomato;
}